/* Estilo general */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Estilos para tema claro */
.App.light {
  background-color: #ffffff;
  color: #000000;
}

.App.light nav {
  background-color: #f0f0f0;
}

.App.light button {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #000000;
}

/* Estilos para tema oscuro */
.App.dark {
  background-color: #000000;
  color: #ffffff;
}

.App.dark nav {
  background-color: #333333;
}

.App.dark button {
  background-color: #333333;
  color: #ffffff;
  border: 1px solid #ffffff;
}
